@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeueLight.eot');
    src: url('../fonts/HelveticaNeueLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLight.woff') format('woff'),
         url('../fonts/HelveticaNeueLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueItalic';
    src: url('../fonts/HelveticaNeueItalic.eot');
    src: url('../fonts/HelveticaNeueItalic.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueItalic.woff2') format('woff2'),
         url('../fonts/HelveticaNeueItalic.woff') format('woff'),
         url('../fonts/HelveticaNeueItalic.ttf') format('truetype'),
         url('../fonts/HelveticaNeueItalic.svg#HelveticaNeueItalic') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeue.woff2') format('woff2'),
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeueBold.eot');
    src: url('../fonts/HelveticaNeueBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
         url('../fonts/HelveticaNeueBold.woff') format('woff'),
         url('../fonts/HelveticaNeueBold.ttf') format('truetype'),
         url('../fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('../fonts/HelveticaNeueMedium.eot');
    src: url('../fonts/HelveticaNeueMedium.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueMedium.woff2') format('woff2'),
         url('../fonts/HelveticaNeueMedium.woff') format('woff'),
         url('../fonts/HelveticaNeueMedium.ttf') format('truetype'),
         url('../fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
}

